header{
    color: white;
}

body{
    background-color: #1D2E28;
    ;
}

a{
    text-decoration: none;
    color: white;
}

.intro{
    color: white;
}

.introduction{
    color: white;
}

div.introduction h3{
    font-size: 4em;
}

.skills{
    color: white;
}

.work-experience{
    color: white;
}

.education{
    color: white;
}

h1{
    font-family: Raleway;
    font-size: 3em;
    font-weight: 900;
}

.leading-content{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    margin: 1em;
}

.leading h1{
    font-size: 10em;
    color: white;
    margin: 0.5em 0.3em 0em 0.3em;
}

.leading h2{
    font-size: 6em;
    color: white;
    margin: 0.5em;

}

.leading h3{
    font-size: 4em;
    color: white;
    margin: 0em 0.3em 0em 0.3em;
}

.leading p{
    font-size: 2em;
    color: white;
    margin: 0.5em;
    max-width:600px;

}

.leading-photo img{
    margin: 5em 10em;
    width: 700px;
    border-radius: 50%;
}

.leading-about{
    align-self: center;
}

h2{
    font-family: Raleway;
    font-size: 2.5em;
    font-weight: 700;
}

h3{
    font-family: Raleway;
    font-size: 1.5em;
    font-weight: 500;
}

h4{
    font-family: Raleway;
    font-size: 1.2em;
    font-weight: 400;
}

h5{
    font-family: Raleway;
    font-size: 1em;
    font-weight: 300; 
}

p{
    font-family: Raleway;
    font-size: 1em;
    font-weight: 300;
    max-width: 100%;
}

ul{
    font-weight: 700;
}

li{
    font-weight: 300;
}

.button-nav{
    display: inline-block;
    padding: 0.8rem;
    color: white;
    background-color:#0A5C36;
    text-decoration: none;
    transition-property: background-color;
    transition-duration: 0.5s;
    border-radius: 15px;
    box-shadow: 0px 7px black;
}

.button-nav:active {
    background-color: #084029;
    box-shadow: 0px 0px black;
    transform: translate(0px, 7px);
  }

.button-nav:hover,
.button-nav:focus {
    background-color: #14452F;
}

.header-content{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    margin: 2em;
}

nav.website-header h1{
    text-align: left;
    font-size: 2em;
}

nav.website-header h2{
    text-align: center;
    font-size: 2em;
}

.website-menu{
    margin-top: 1em;
    text-align: center;
}

.element {
    padding-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-top-width: 0.15rem;
  }

#first.element{
    border: none;
}

.introduction{
    text-align: center;
    margin: 5em 10em;
}

.skills{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items:center;
    border-radius: 50px;
    background: #18392b;
}

.skills-list{
    margin: 2rem;
    padding: 1.5rem;
    border-radius: 30px;
    background: #14452F;
}

.skills-list-detail{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items:center;
    margin-left: 15em;
}

div.skills-list li{
    margin-left: 2.5em;
}

div.skills-list h4{
    margin: 0;
}

.work-experience{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items:center;
    margin: 5em 5em;
    border-radius: 50px;
    background: #18392b;
}

.work-experience-list{
    margin: 2rem;
    padding: 1.5rem;
    max-width: 17em;
    border-radius: 30px;
    background: #14452F;
}

div.work-experience-list h4{
    margin: 0;
}

.education{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items:center;
    margin: 5em 5em;
    border-radius: 50px;
    background: #18392b;
}

.education-list{
    margin: 2rem;
    padding: 1rem;
    border-radius: 30px;
    background: #14452F;
}

div.education-list h4{
    margin: 0;
}

div.education-list p{
    margin: 0;
}

.element{
    color: white;
}

.projects{
    color: white;
}

div.projects h2{
    margin-left: 2em;
}

.project-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:left;
    margin: 5em 5em;
    border-radius: 50px;
    background: #18392b;
    padding:3em;
    padding-top:1em;
    padding-bottom: 1em;
}

.project-content{
    align-self: center;
    margin-left:8em;
}

.project-note {
    max-width: 30em;
}

.button-to-project .button-nav{
    margin: 1em 0em;
    padding: 2em 3em 2em 13.5em;
    width: 15em;
    justify-content:center;
}

.button-to-about .button-nav{
    margin: 1em 1em 3em 1em;
    padding: 2em 2em 2em 16em;
    width: 17em;
    justify-content: center;
}

.project-images{
    display: flex;
    flex-wrap: wrap;
}

div.project-img img{
    max-width:300px;
    height: auto;
}

iframe{
    width:600px;
    height:338px;
    border:none;
    border-radius: 20px;
    margin-top: 2.5em;
}

.contact-footer{
    margin:0em 3em 3em 3em;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #18392b;
    border-radius: 20px;
}


.contact-me img{
    width:80px;
    height: auto;
    border-radius: 50%;
}

#linkedin img{
    width:150px;
    margin-left:1em;
}

#discord img{
    width: 120px;
    margin-bottom: 0.4em;
    margin-right: 1em;
}

#instgram img{
    margin-right: 1em;
}

.leading-project{
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 3em 3em 10em 3em;
}

.leading-project-title{
    align-self: center;
}

.leading-project-img img{
    width: 500px;
    height: auto;
}

.project-body{
    color: white;
    margin: 15em 15em 5em 15em;
}

.project-body p{
    max-width:50em;
}

.project-body-introduction-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-body-introduction-top-leading{
    align-self: center;
}

.project-body img{
    width: 300px;
    height: auto;
}

.project-body-introduction-top-leading-img img{
    width:400px;
}

.project-body-introduction-research{
    display: flex;
    justify-content: flex-start;
    margin:2em 0em;
}

.project-body-introduction-process-two{
    display: flex;
    justify-content: space-evenly;
    margin:1em;
}

.project-body-introduction-process-two p{
    align-self: center;
}

.project-body-introduction-process-two img{
    width: 400px;
}

.project-body-introduction-process-three{
    display: flex;
    justify-content: space-evenly;
    margin:1em;
}

.project-body-introduction-process-three p{
    align-self: center;
}

.project-body-introduction-process-three img{
    width: 400px;
}

.project-body-introduction-process-four{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:1em;
}

.project-body-introduction-process-four p{
    align-self: center;
    justify-content: center;
}

.project-body-introduction-process-four img{
    width: 400px;
    height: auto;
}

.project-body-introduction-redesign-one p{
    max-width: 70em;
}
.project-body-introduction-redesign-two {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project-body-introduction-redesign-two img{
    width: 500px;
    height: auto;
}

.project-body-introduction-redesign-three{
    display: flex;
    justify-content: center;
}

.project-body-introduction-redesign-four{
    display: flex;
    justify-content: space-evenly;
    margin:1em;
}
.project-body-introduction-redesign-four p{
    align-self: center;
}
.project-body-introduction-redesign-four img{
    width: 400px;
    height: auto;
}

.project-body-introduction-redesign-five{
    display: flex;
    justify-content: space-evenly;
    margin:1em;
}
.project-body-introduction-redesign-five p{
    align-self: center;
}
.project-body-introduction-redesign-five img{
    width: 400px;
    height: auto;
}

.project-body-introduction-redesign-six{
    display: flex;
    justify-content: space-evenly;
    margin:1em;
}
.project-body-introduction-redesign-six p{
    align-self: center;
}
.project-body-introduction-redesign-six img{
    width: 400px;
    height: auto;
}

.project-body-introduction-redesign-seven{
    display: flex;
    justify-content: space-evenly;
    margin:1em;
}

.project-body-introduction-redesign-seven img{
    width: 400px;
    height: auto;
}

.project-body-introduction-redesign-eight{
    display: flex;
    justify-content: center;
}
.project-body-introduction-redesign-eight p{
    max-width: 70em;
}

.project-body-introduction-watch{
    margin-top: 5em;
}

.project-body-introduction-watch-one{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height:auto;
    margin-bottom: 5em;
}
.project-body-introduction-watch-one img{
    width:1000px;
}
.project-body-introduction-watch-one p{
    max-width: 20em;
    align-self: center;
}

.project-body-introduction-watch-two{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.project-body-introduction-watch-two img{
    width: 450px;
    height: auto;
    margin-bottom: 2em;
}

.project-body-introduction-challenges{
    margin:5em 0em;
}

.project-body-introduction-reflection{
    margin:5em 0em;
}

.project-body-introduction-conclusion{
    margin:5em 0em 0em 0em;
}

.perfect-match-video iframe{
    width: 1000px;
    height: 562px;
}

.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
}

.images img{
    width:670px;
}

.project-body-introduction-initial-one{
    margin: 5em 0em;
}

.project-body-introduction-initial-three{
    margin: 3em 0em;
}

.project-body-introduction-feedback-one{
    margin: 5em 0em;
}

.project-body-introduction-feedback-three{
    margin: 3em 0em;
}

.project-body-introduction-media-one{
    margin: 5em 0em 0em 0em;
}

/* Style for the jumping animation */
@keyframes jumpAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  /* Apply the jump animation to each character in the titles */
  .leading h1 span,
  .leading h2 span {
    display: inline-block;
    cursor: pointer; /* Set the cursor to hand when hovering */
  }
  
  /* Add animation iteration count and fill mode */
  .leading h1 span,
  .leading h2 span {
    animation: jumpAnimation 2s infinite;
  }
  
  
@media (max-width:1920px){

    .skills{
        margin:5em 5em;
    }

    .skill-list-visible{
        display:none;
    }

    .skill-list-title-visible{
        display:none;
    }

    .skill-list-title-pop{
        display:none;
    }
}

@media (max-width:1535px){
    .project-content{
        margin-left: 3em;
    }

    .project-img iframe{
        margin-top: 1.5em;
    }


}

@media (max-width:1455px){
    .leading h1{
        font-size: 9em;
        color: white;
        margin: 0.5em 0.3em 0em 0.3em;
    }
    
    .leading h2{
        font-size: 4.5em;
        color: white;
        margin: 0.5em;
    
    }
    
    .leading h3{
        font-size: 3em;
        color: white;
        margin: 0em 0.3em 0em 0.3em;
    }
    
    .leading p{
        font-size: 2em;
        color: white;
        margin: 0.5em;
        max-width:600px;
    
    }
    
    .leading-photo img{
        margin: 5em 10em;
        width: 600px;
        border-radius: 50%;
    }
    
    .project-content h2{
        font-size: 1.5em;
    }

    .project-container{
        padding: 1em;
    }

    .project-content h3{
        font-size: 1em;
    }

    .project-note p{
        font-size: 0.8em;
        max-width: 30em;

    }

    .button-to-project .button-nav{
        padding: 1em 2em 1em 10em;
        width: 12em;
    }
    .project-img img{
        width: 250px;
        height:auto;
    }

    .project-img iframe{
        width: 560px;
        height: 315px;
        margin-top: 0.5em;
    }
}

@media (max-width: 1355px){
    .project-img iframe{
        margin-top: 0.8em;
    }
}

@media (max-width:1235px){
    #second.project-img{
        display:none;
    }

    .project-img iframe{
        margin-top: 2em;
        width: 700px;
        height: 394px;
    }

    .project-content{
        margin:0;
    }

    .project-note p{
        width:70em;
    }

    div.project-img img{
        max-width:300px;
        height: auto;
        margin-right:7em;
    }
}

@media (max-width:1184px){
    .work-experience-list{
        max-width: 50em;
    }

    div.work-experience-list p{
        max-width:80%;
    }

    
    .skill-list-visible{
        display:inline;
    }

     .skills-list-hide{
        display:none;
    }

    .skills-list{
        width:60em;
    }

    .education-list{
        width: 50em;
    }

    .skill-list-title-visible{
        display:inline;
    }

    .skill-list-title-pop{
        display:inline;
    }

    div.skills-list h4{
        height:50px;
    }
    .skills-list {
        display: flex;
        flex-wrap: wrap;
      }
      
      .skill-list-detail {
        flex-basis: 50%;
        box-sizing: border-box;
        margin-top: 20px; /* Add some spacing between items */
      }
      
      h5 {
        margin-top: 0;
      }
      
      ul {
        list-style-type: none;
        padding: 0;
      }

      div.skill-list-detail li{
        margin-left:0;
      }
}

@media (max-width:995px){
    .leading h1{
        font-size: 5em;
        color: white;
        margin: 0.5em 0.3em 0em 0.3em;
    }
    
    .leading h2{
        font-size: 2.5em;
        color: white;
        margin: 0.5em;
    
    }
    
    .leading h3{
        font-size: 2em;
        color: white;
        margin: 0em 0.3em 0em 0.3em;
    }
    
    .leading p{
        font-size: 1.5em;
        color: white;
        margin: 0.5em;
        max-width:600px;
    
    }
    
    .leading-photo img{
        margin: 5em 10em;
        width: 500px;
        border-radius: 50%;
    }
    
    .project-content h2{
        font-size: 1em;
    }

    .project-content h3{
        font-size: 0.8em;
    }

    .project-note p{
        font-size: 0.7em;
        max-width: 25em;

    }

    .button-to-project .button-nav{
        padding: 1em 4em 1em 7em;
        width: 8em;
    }

    .project-img iframe{
        margin-top: 2em;
        width: 530px;
        height: 298px;
    }

    div.project-img img{
        max-width:300px;
        height: auto;
        margin-right:3em;
    }
}

@media (max-width:833px){
    .project-img iframe{
        margin-top: 2em;
        width: 280px;
        height: 158px;
    }

    .leading h1{
        font-size: 4em;
        color: white;
        margin: 0.5em 0.3em 0em 0.3em;
    }
    
    .leading h2{
        font-size: 2em;
        color: white;
        margin: 0.5em;
    
    }
    
    .leading h3{
        font-size: 1.5em;
        color: white;
        margin: 0em 0.3em 0em 0.3em;
    }
    
    .leading p{
        font-size: 1em;
        color: white;
        margin: 0.5em;
        max-width:600px;
    
    }

    .leading-photo img{
        margin: 5em 8em;
        width: 400px;
        border-radius: 50%;
    }

    .button-to-about .button-nav{
        margin: 1em 3em;
        padding: 2em 3em 2em 13em;
        width: 14em;
    }

    .contact-me img{
        width:4em;
    }

    #linkedin img{
        width:7.5em;
    }

    #discord img{
        width:6em;
    }
}

@media (max-width:785px){
    .skills{
        margin:1em 1em;
    }
    
    .work-experience{
        margin:1em 1em;
    }

    .education{
        margin:1em 1em;
    }

    .introduction{
        margin:3em 3em;
    }
}

@media (max-width:660px){
    .leading-photo img{
        margin: 3em 4em;
        width: 400px;
        border-radius: 50%;
    }
}

@media (max-width:585px){
    .introduction-para-short{
        display: none;
    }

    .work-experience-list-detail{
        display: none;
    }

    div.project-img img{
        max-width:300px;
        height: auto;
        margin-right:1em;
    }

    .project-container{
        margin: 2em;
        padding:0em;
    }
}

@media (max-width:527px){
    .leading-photo img{
        margin: 1em 2em;
        width: 400px;
        border-radius: 50%;
    }

    .project-container{
        margin: 1em;
        padding:0em;
    }

    .button-to-about .button-nav{
        margin: 1em 3em;
        padding: 2em 3em 2em 11em;
        width: 13em;
    }
}

@media (max-width:490px){

    nav.website-header h1{
        font-size: 2em;
    }

    nav.website-header h2{
        font-size: 1.5em;
    }

    h1{
        font-size: 2em;
    }

    h2{
        font-size: 1.5em;
    }

    h3{
        font-size: 1.2em;
    }

    h4{
        font-size: 1em;
    }

    h5{
        font-size: 0.8em;
    }

    p{
        font-size: 0.8em;
    }

    ul{
        font-size: 0.8em;
    }

    li{
        font-size: 0.8em;
    }
}

@media (max-width:415px) {

    nav.website-header h1{
        font-size: 1.7em;
    }

    nav.website-header h2{
        font-size: 1.3em;
    }

    h1{
        font-size: 1.7em;
    }

    h2{
        font-size: 1.3em;
    }

    h3{
        font-size: 1em;
    }

    h4{
        font-size: 0.8em;
    }

    h5{
        font-size: 0.7em;
    }

    p{
        font-weight: 300;
        font-size: 0.7em;
    }

    ul{
        font-size: 0.7em;
    }

    li{
        font-size: 0.7em;
    }

    .skills-list{
        margin: 0em 0em 1em;
        padding: 0em 1em 2em;
    }

    .work-experience-list{
        margin: 0em 0em 1em;
        padding: 1em 1em 1em;
    }

    div.work-experience-list p{
        margin:0;
        max-width: 100%;
    }

    .education-list{
        margin: 0em 0em 1em;
        padding: 1em 1em 1em;
    }

    div.education-list p{
        margin:0;
        max-width: 100%;
    }

    .introduction{
        margin:0;
        padding:1em;
    }

    div.introduction h3{
        font-size: 2em;
        margin-top: 0;
    }

    .header-content{
        margin-bottom: 0;
    }

    .element{
        padding:0;
    }

    .intro{
        padding: 1em;
    }
    .leading-photo img{
        margin: 1em 1em;
        width: 250px;
        border-radius: 50%;
    }

    .leading h1{
        font-size: 1.8em;
        color: white;
        margin: 1em 1em 0em;
    }
    
    .leading h2{
        font-size: 1em;
        color: white;
        margin: 0.5em 2em;
    
    }
    
    .leading h3{
        font-size: 1em;
        color: white;
        margin: 0em 1.5em;
    }
    
    .leading p{
        font-size: 0.8em;
        color: white;
        margin: 1em 2em;
        max-width:600px;
    
    }

    .button-to-about .button-nav{
        margin: 1em;
        padding: 2em 3em 2em 8em;
        width: 9em;
    }

    .project-container{
        margin: 1em;
        padding:0em;
        padding-bottom: 1em;
        
    }
    

    .project-img img {
        width:200px;
        height: auto;
        padding-left: 2em;
    }

    div.project-img img{
        max-width:300px;
        height: auto;
        margin-right:2em;
    }

    .project-note p{
        max-width:23.8em;
    }

    .project-img iframe{
        width: 300px;
        height: 169px;
    }

    .contact-me{
        margin:1em;
        justify-content: center;
    }

    .contact-me img{
        width:3em;
    }

    #linkedin img{
        width:5.8em;
    }

    #discord img{
        width:4.3em;
    }

    .contact-footer{
        margin:0em 1em 1em 1em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background: #18392b;
        border-radius: 20px;
    }

    .leading-about{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin:1em;
    }
}
