header{
    color: white;
}

body{
    background-color: #1D2E28;
    ;
}

a{
    text-decoration: none;
    color: white;
}

.intro{
    color: white;
}

.skills{
    color: white;
}

.work-experience{
    color: white;
}

.education{
    color: white;
}

h1{
    font-family: Raleway;
    font-size: 3em;
    font-weight: 900;
}

.leading-content{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    margin: 1em;
}

.leading-photo img{
    margin: 5em 10em;
    width: 700px;
    border-radius: 50%;
}

.leading-about{
    align-self: center;
}

h2{
    font-family: Raleway;
    font-size: 2.5em;
    font-weight: 700;
}

h3{
    font-family: Raleway;
    font-size: 1.5em;
    font-weight: 500;
}

h4{
    font-family: Raleway;
    font-size: 1.2em;
    font-weight: 400;
}

h5{
    font-family: Raleway;
    font-size: 1em;
    font-weight: 300; 
}

p{
    font-family: Raleway;
    font-size: 1em;
    font-weight: 300;
    max-width: 100%;
}

ul{
    font-weight: 700;
}

li{
    font-weight: 300;
}

.button-nav{
    display: inline-block;
    padding: 0.8rem;
    color: white;
    background-color:#0A5C36;
    text-decoration: none;
    transition-property: background-color;
    transition-duration: 0.5s;
    border-radius: 15px;
    box-shadow: 0px 7px black;
}

.button-nav:active {
    background-color: #084029;
    box-shadow: 0px 0px black;
    transform: translate(0px, 7px);
  }

.button-nav:hover,
.button-nav:focus {
    background-color: #14452F;
}

.header-content{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    margin: 2em;
}

.website-menu{
    margin-top: 1em;
    text-align: center;
}

.element {
    padding-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-top-width: 0.15rem;
  }

#first.element{
    border: none;
}

.introduction{
    text-align: center;
    margin: 5em 10em;
}

.skills{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items:center;
    border-radius: 50px;
    background: #18392b;
}

.skills-list{
    margin: 2rem;
    padding: 1.5rem;
    border-radius: 30px;
    background: #14452F;
}

.skills-list-detail{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items:center;
    margin-left: 15em;
}

.work-experience{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items:center;
    margin: 5em 5em;
    border-radius: 50px;
    background: #18392b;
}

.education{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items:center;
    margin: 5em 5em;
    border-radius: 50px;
    background: #18392b;
}

.element{
    color: white;
}

.projects{
    color: white;
}

div.projects h2{
    margin-left: 2em;
}

.project-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:left;
    margin: 5em 5em;
    border-radius: 50px;
    background: #18392b;
    padding:3em;
    padding-top:1em;
    padding-bottom: 1em;
}

.project-content{
    align-self: center;
    margin-left:8em;
}

.project-note {
    max-width: 30em;
}

.button-to-project .button-nav{
    margin: 1em 0em;
    padding: 2em 3em 2em 13.5em;
    width: 15em;
    justify-content:center;
}

.button-to-about .button-nav{
    margin: 1em 1em 3em 1em;
    padding: 2em 2em 2em 16em;
    width: 17em;
    justify-content: center;
}

.project-images{
    display: flex;
    flex-wrap: wrap;
}

div.project-img img{
    max-width:300px;
    height: auto;
}

iframe{
    width:600px;
    height:338px;
    border:none;
    border-radius: 20px;
    margin-top: 2.5em;
}

.contact-footer{
    margin:0em 3em 3em 3em;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #18392b;
    border-radius: 20px;
}


.contact-me img{
    width:80px;
    height: auto;
    border-radius: 50%;
}

#linkedin img{
    width:150px;
    margin-left:1em;
}

#discord img{
    width: 120px;
    margin-bottom: 0.4em;
    margin-right: 1em;
}

#instgram img{
    margin-right: 1em;
}

.leading-project{
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 3em 3em 10em 3em;
}

.leading-project-title{
    align-self: center;
}

.leading-project-img img{
    width: 500px;
    height: auto;
}

.project-body-introduction-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-body-introduction-top-leading{
    align-self: center;
}

.project-body img{
    width: 300px;
    height: auto;
}

.project-body-introduction-top-leading-img img{
    width:400px;
}

.project-body-introduction-research{
    display: flex;
    justify-content: flex-start;
    margin:2em 0em;
}

.project-body-introduction-redesign-one p{
    max-width: 70em;
}

.project-body-introduction-redesign-three{
    display: flex;
    justify-content: center;
}

.project-body-introduction-watch{
    margin-top: 5em;
}

.project-body-introduction-challenges{
    margin:5em 0em;
}

.project-body-introduction-reflection{
    margin:5em 0em;
}

.project-body-introduction-conclusion{
    margin:5em 0em 0em 0em;
}

.perfect-match-video iframe{
    width: 1000px;
    height: 562px;
}

.project-body-introduction-initial-one{
    margin: 5em 0em;
}

.project-body-introduction-initial-three{
    margin: 3em 0em;
}

.project-body-introduction-feedback-one{
    margin: 5em 0em;
}

.project-body-introduction-feedback-three{
    margin: 3em 0em;
}

.project-body-introduction-media-one{
    margin: 5em 0em 0em 0em;
}

.project-DLDK-img img{
    max-width:300px;
}

.interests-note{
    max-width: 30em;
    align-self: center;
}

.contact-info{
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin: 0em 3em 5em;
    border-radius: 30px;
    background: #18392b;
    padding:3em;
}
.contact-info-note{
    align-self: center;
}

.citation-list{
    color: white;
    margin: 5em;
}

.footer-all{
    background: #18392b;
    margin: 3em;
    padding: 1em;
    border-radius: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.footer-item{
    color: white;
    text-decoration:underline;
    align-self: center;
}

.footer-item:hover{
    text-decoration: none;
} 

.citations li{
    padding:0.5em;
}
  
